name: test

on:
  push:
    branches:
      - master
      - "test-me-*"
    tags:
      - "*"
  pull_request:
    branches:
      - master

# Set permissions at the job level.
permissions: {}

jobs:
  lint:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox

    - name: Lint
      run: tox -e lint

  test:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    permissions:
      contents: read

    strategy:
      fail-fast: false
      matrix:
        python: [
          "3.7.1",
          "3.7",
          "3.8",
          "3.9",
          "3.10",
          "3.11",
        ]

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox

    - name: Test
      run: tox -e py
